.container {
  max-width: 650px;
}
html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(190, 162, 193) 0%,
    rgb(243, 230, 223) 97%
  );
  background-repeat: no-repeat;
  color: #fff;
}
h2 {
  font-weight: 700;
  margin: 0;
}
.container {
  padding-top: 30px;
}
#weather-info {
  padding: 15px;
  margin-top: 30px;
}
#current-temperature-img {
  text-align: right;
  padding: 15px;
}
#city-state {
  font-weight: 600;
  font-size: 1.25rem;
}
#weather-info {
  background: linear-gradient(
    180deg,
    rgb(111, 64, 152) 0%,
    rgb(162, 117, 151) 100%
  );
}
#current-temperature {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.1;
}
#units {
  float: right;
  position: relative;
  left: -240px;
  top: 10px;
}
#local-time {
  opacity: 0.65;
}
